@CHARSET "UTF-8";

#a8 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#a7 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#a6 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#a5 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#a4 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#a3 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#a2 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#a1 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}

#c8 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#c7 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#c6 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#c5 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#c4 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#c3 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#c2 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#c1 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}

#e8 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#e7 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#ea6 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#e5 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#e4 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#e3 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#e2 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#e1 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}

#g8 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#g7 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#g6 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#g5 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#g4 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#g3 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#g2 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#g1 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}

#b8 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#b7 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#b6 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#b5 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#b4 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#b3 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#b2 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#b1 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}

#d8 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#d7 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#d6 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#d5 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#d4 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#d3 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#d2 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#d1 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}

#f8 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#f7 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#f6 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#f5 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#f4 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#f3 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#f2 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#f1 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}

#h8 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#h7 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#h6 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#h5 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#h4 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#h3 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}
#h2 {
	-fx-background-image: url('/view/img/blacksquare.jpg');
}
#h1 {
	-fx-background-image: url('/view/img/whitesquare.jpg');
}